@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@media (prefers-color-scheme: light) {
  :root {
    --text: rgb(14, 14, 11);
    --background: rgb(212, 226, 242);
    --primary: rgb(74, 149, 196);
    --secondary: rgb(26, 71, 86);
    --accent: rgb(162, 131, 57);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: rgb(244, 244, 241);
    --background: rgb(13, 27, 43);
    --primary: rgb(59, 134, 181);
    --secondary: rgb(169, 214, 229);
    --accent: rgb(198, 166, 93);
  }
}