nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: background-color 0.5s cubic-bezier(0.75, 0, 0.25, 1)
}
.scrolled{
    background-color: rgba(255, 255, 255, 0.9);
}

nav{
    animation: navdown 0.5s cubic-bezier(0.75, 0, 0.25, 1) forwards;
    z-index:999;
}

@keyframes navdown{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}